@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Open Sans', Roboto;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#nav-header {
    list-style: none;
    display: flex;
    height: 10vh;
    background-color: rgb(72, 82, 100);
}

#nav-footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(23, 48, 95);
    align-items: center;
    justify-content: center;
}

#nav-footer ul li a {
    color: #fff;
    padding: 35px;
    display: inline-block;
}

#nav-footer a:hover {
    background-color: rgb(131, 19, 11);
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 20%;
    justify-content: space-evenly;
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 25px;
}

i {
    color: #fff;
}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
}

ul li a:hover {
    background-color: rgb(45, 61, 77);
}

.box1 {
    width: 100%;
    box-sizing: border-box;
    padding: 3px 10px;
    font-size: 14px;
}

.box2 {
    font-size: 14px;
}

.box3 {
    font-size: 14px;
}

.box-model {
    display: flex;
    justify-content: space-evenly;
}